<!DOCTYPE html>

<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <style>

        body {
            background-color: #DDD8EC;
        }

        .marco {
            background-color: #DDD8EC;
            padding: 15px;
        }

        .general {
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 12px;
            padding: 20px;
        }
    </style>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="bg-primary">
    <nav class="navbar shadow-sm navbar-expand-lg navbar-dark bg-primary bg-gradient p-0">
        <div class="container-fluid">
            <a class="navbar-brand" href='@Url.Action("Index", "Home")'><img src="~/img/tiendaBG.png" class="mx-auto d-block" /><span>Almac&eacute;n Del Barrio</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    @*<li class="nav-item">
                            <img src="~/img/casa.png" class="mx-auto d-block" />
                            @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                        </li>*@
                    <li class="nav-item">
                        <img src="~/img/bolsa.png" class="mx-auto d-block" />
                        @Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <img src="~/img/edificio.png" class="mx-auto d-block" />
                        @Html.ActionLink("Proveedores", "Index", "Proveedor", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <img src="~/img/dinero.png" class="mx-auto d-block" />
                        @Html.ActionLink("Movimientos", "Index", "Inventario", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <img src="~/img/usuarios.png" class="mx-auto d-block" />
                        @Html.ActionLink("Usuarios", "Index", "Usuario", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <img src="~/img/info.png" class="mx-auto d-block" />
                        @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    @*<li class="nav-item">
                            <img src="~/img/lock.png" class="mx-auto d-block" />
                            @Html.ActionLink("Cerrar sesión", "Logout", "Login", null, new { @class = "nav-link" })
                        </li>*@
                </ul>

                @{
                    string nomUser = "Nombre Usuario";
                    string dcsRol = "Perfil Usuario";
                    Infrastructure.Models.Usuario oUsuario;
                    //Validar si existe en la sesión
                    if (Session["User"] != null)
                    {
                        oUsuario = (Infrastructure.Models.Usuario)Session["User"];
                        if (oUsuario != null)
                        {
                            nomUser = string.Format("{0} {1} {2}.", oUsuario.Nombre, oUsuario.PrimerApellido, oUsuario.SegundoApellido.Substring(0,1));
                            dcsRol = oUsuario.Rol.Descripcion;
                        }
                    }
                }

                <div class="profile w-auto bg-secondary p-1 rounded-1 shadow-lg">
                    <div class="profile-details d-flex align-items-center">
                        <div class="text-white px-2 fs-1">
                            <i class='bx bxs-user-circle'></i>
                        </div>
                        <div class="text-sm-center text-white px-2 m-1">
                            @if (Session["User"] != null)
                            {
                                <div class="name">@nomUser</div>
                                <hr class="m-0" />
                                <div class="rol">@dcsRol</div>
                            }
                        </div>
                        @if (Session["User"] == null)
                        {
                            <a class="btn btn-outline-primary p-2 mx-2 rounded" href='@Url.Action("Index", "Login")' data-bs-toggle="tooltip" data-bs-placement="left" title="Entrar..."><i class='bx bx-log-in'></i></a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary p-2 mx-2 rounded" href='@Url.Action("Logout", "Login")' data-bs-toggle="tooltip" data-bs-placement="left" title="Salir..."><i class='bx bx-log-out'></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="marco">
            <div class="general container-fluid">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="page-footer shadow bg-primary bg-gradient text-white text-center mt-auto py-1">
        @Html.Partial("_Footer")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @*@Scripts.Render("~/bundles/popper")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)

    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>
</html>
