@{ int cantidadProductos = Web.ViewModel.Movimiento.Instancia.GetCountItems();}

<a href="@Url.Action("Create", "Registro")" class="nav-link">
    Orden <span class="badge badge-light">   @cantidadProductos</span>
</a>

@if (@ViewBag.NotiCarrito != null)
{
    <script>
            @Html.Raw(@ViewBag.NotiCarrito);
    </script>
}
