@model Infrastructure.Models.RegistroInventario

@{
    ViewBag.Title = "Detalles del Registro";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>RegistroInventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRegistroInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRegistroInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoGestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoGestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

    </dl>

    <hr />
    <h4>Detalle Orden</h4>
    <div class="table-responsive">
        <table class="table table-light table-hover table-striped">
            <thead>
                <tr class="table-primary">
                    <th>
                        @Html.DisplayName("Tipo de Gestión")
                    </th>
                    <th>
                        @Html.DisplayName("Tipo de Movimiento")
                    </th>
                    <th>
                        @Html.DisplayName("Registrado por")
                    </th>
                    <th>
                        @Html.DisplayName("Modificado por")
                    </th>
                    <th>
                        @Html.DisplayName("Modificado el")
                    </th>
                </tr>
            </thead>
            <tbody id="resultList">
                @foreach (var item in Model.GestionInventario)
                {
                    <tr class="align-middle">
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoGestion)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.IdTipMovimiento)*@
                            @foreach (var iTip in ViewBag.IdTipoMov)
                            {
                                if (@iTip.IdTipMovimiento == item.IdTipMovimiento)
                                {
                                     @iTip.Descripcion
                                }
                            }
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.IdUsuario)*@
                            @foreach (var iUs in ViewBag.IdUserReg)
                            {
                                if (@iUs.IdUsuario == item.IdUsuario)
                                {
                                    string nombreUsuario = string.Format("{0} {1}", @iUs.Nombre, @iUs.PrimerApellido);
                                    @nombreUsuario
                                }
                            }
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.UsuarioGestion)*@
                            @foreach (var iUs in ViewBag.IdUserMod)
                            {
                                if (@iUs.IdUsuario == item.UsuarioGestion)
                                {
                                    string nombreUsuario = string.Format("{0} {1}", @iUs.Nombre, @iUs.PrimerApellido);
                                    @nombreUsuario
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaGestion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div class="form-group">
    <hr />
    <div class="row">
        <div class="col-12 d-md-flex justify-content-md-end">
            <a href="@Url.Action("Index", "Registro")" class="btn btn-outline-secondary rounded m-1">
                <i class='bx bxs-x-circle'></i>
                <span>Regresar</span>
            </a>
            <a href="@Url.Action("Edit", "Registro",new { pId = Model.IdRegistroInventario })" class="btn btn-outline-primary rounded m-1">
                <i class='bx bxs-pencil'></i>
                <span>Editar</span>
            </a>
        </div>
    </div>
</div>
