@model IEnumerable<Infrastructure.Models.Usuario>

@foreach (var item in Model)
{
<tr class="align-middle">
    <td>
        <a href="@Url.Action("Edit", "Usuario", new { pId = item.IdUsuario })" class="btn btn-secondary rounded px-3 py-1">
            <i class='bx bxs-pencil'></i>
            @*<span>Editar</span>*@
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimerApellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SegundoApellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rol.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Correo)
    </td>
    <td>
        <a href="@Url.Action("Details", "Usuario",  new { pId = item.IdUsuario })" class="btn btn-secondary rounded px-3 py-1">
            <i class='bx bxs-detail'></i>
            <span>Detalles</span>
        </a>
    </td>
</tr>
}
