@model IEnumerable<Infrastructure.Models.Usuario>

@{
    ViewBag.Title = "Registro de Usuarios";
}

<h2>@ViewBag.Title</h2>

<div class="col-md-11 d-md-flex justify-content-md-end pb-3 pe-3">
    <i class='bx bxs-pencil'></i>
    <span>@Html.ActionLink("Nuevo", "Create")</span>
</div>

<div class="table-responsive">
    <table class="table table-light table-hover table-striped">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { pId = item.IdUsuario }) |
                    @Html.ActionLink("Detalles", "Details", new { pId = item.IdUsuario }) @*|
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </table>
</div>
