@model IEnumerable<Infrastructure.Models.Usuario>

@{
    ViewBag.Title = "Registro de Usuarios";
}

<div class="form-group">
    <div class="row">
        <div class="col-4">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-4">
            <div class="btn btn-outline-secondary btn-sm">
                <i class='bx bxs-pencil'></i>
                @Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @class = "text-decoration-none" })
            </div>
        </div>
        <div class="col-4 px-0 justify-content-md-end">
            <form class="d-flex">
                <input class="form-control p-0 ps-2" type="search" placeholder="Buscar..." aria-label="Buscar...">
                <button class="btn btn-outline-primary mx-3 my-sm-0 p-1 col-3" type="submit"><i class='bx bx-search-alt-2'></i>Buscar</button>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-light table-hover table-striped">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { pId = item.IdUsuario }) |
                    @Html.ActionLink("Detalles", "Details", new { pId = item.IdUsuario }) @*|
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </table>
</div>
