@model Infrastructure.Models.Proveedor

@{
    ViewBag.Title = "Detalles del Proveedor";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Informaci&oacute;n</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dsc_Proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dsc_Proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @ViewBag.EstadoActual
        </dd>
    </dl>
</div>

<div class="form-group">
    <hr />
    <div class="row">
        <div class="col-12 d-md-flex justify-content-md-end">
            <a href="@Url.Action("Index", "Proveedor")" class="btn btn-outline-secondary rounded m-1">
                <i class='bx bxs-x-circle'></i>
                <span>Regresar</span>
            </a>
            <a href="@Url.Action("Edit", "Proveedor",new { pId = Model.IdProveedor })" class="btn btn-outline-primary rounded m-1">
                <i class='bx bxs-pencil'></i>
                <span>Editar</span>
            </a>
        </div>
    </div>
</div>