@model IEnumerable<Infrastructure.Models.Producto>

@foreach (var item in Model)
{
<tr class="align-middle">
    <td class="text-truncate">
        @*@Html.ActionLink("Editar", "Edit", new { id = item.IdProducto })*@
        <a href="@Url.Action("Edit", "Producto", new { id = item.IdProducto })" class="btn btn-secondary rounded px-3 py-1">
            <i class='bx bxs-pencil'></i>
            @*<span>Editar</span>*@
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre_Producto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria.Dsc_Categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadDisponible)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadStockMin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadStockMax)
    </td>
    <td class="text-truncate">
        @*@Html.ActionLink("Detalles", "Details", new { id = item.IdProducto })*@
        <a href="@Url.Action("Details", "Producto",  new { id = item.IdProducto })" class="btn btn-secondary rounded px-3 py-1">
            <i class='bx bxs-detail'></i>
            <span>Detalles</span>
        </a>
    </td>
</tr>
}