@model Infrastructure.Models.Producto

@{
    ViewBag.Title = "Detalle Producto";
}

<h2>Detalle Producto</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Dsc_Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadStockMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadStockMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadStockMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadStockMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>

        <dd>
            @foreach (var c in Model.Proveedor)
            {
                @c.Nombre_Proveedor
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar a la lista producto", "Index")
</p>
