@model Infrastructure.Models.Producto

@{
    ViewBag.Title = "Detalle Producto";
}

<h2>Detalle Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Dsc_Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.FechaCreacion)*@
            @Model.FechaCreacion.ToString().Substring(0,10)

        <dt>
            @Html.DisplayNameFor(model => model.FechaVence)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.FechaVence)*@
            @Model.FechaVence.ToString().Substring(0, 10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadStockMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadStockMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadStockMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadStockMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd>
            <ol>
                @foreach (var c in Model.Proveedor)
                {
                    <li>@c.Nombre_Proveedor</li>
                }
            </ol>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodega)
        </dt>
        <dd>
            <ul>
                @foreach (var c in Model.Bodega)
                {
                    <li>@c.IdBodega</li>
                }
            </ul>            
        </dd>
    </dl>
</div>

<div class="form-group">
    <hr />
    <div class="row">
        <div class="col-12 d-md-flex justify-content-md-end">
            <a href="@Url.Action("Index", "Producto")" class="btn btn-outline-secondary rounded m-1">
                <i class='bx bxs-x-circle'></i>
                <span>Regresar</span>
            </a>
            <a href="@Url.Action("Edit", "Producto", new { Id = Model.IdProducto })" class="btn btn-outline-primary rounded m-1">
                <i class='bx bxs-pencil'></i>
                <span>Editar</span>
            </a>
        </div>
    </div>
</div>