@model IEnumerable<Infrastructure.Models.GestionInventario>

@{
    ViewBag.Title = "Inventario General";
}

<div class="form-group">
    <div class="row">
        <div class="col-4">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-4">
            <div class="btn btn-outline-secondary">
                <i class='bx bxs-pencil'></i>
                @Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @class = "text-decoration-none" })
            </div>
        </div>
        <div class="col-4 mx-0 px-0 justify-content-md-end">
            <form class="d-flex">
                <input class="form-control p-0 ps-2" type="search" placeholder="Buscar..." aria-label="Buscar...">
                <button class="btn btn-outline-primary mx-3 my-sm-0 p-1 col-3" type="submit"><i class='bx bx-search-alt-2'></i>Buscar</button>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-light table-hover table-striped">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.TipoGestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGestion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr class="align-middle">
        <td>
            @Html.DisplayFor(modelItem => item.TipoGestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMovimiento.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaGestion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { pId = item.IdGestionInventario }) |
            @Html.ActionLink("Detalles", "Details", new { pId = item.IdGestionInventario }) @*|
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
        }
    </table>
</div>
